/* Style for the home page only */
html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  font-size: 18px;
}
h1,
h2,
h3 {
  font-family: "Lexend", sans-serif;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 45px;
}
h3 {
  margin-bottom: 0;
}
a {
  text-decoration: none;
}

#topnav {
  position: fixed;
  z-index: 100;
  width: 100%;
}
#topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  background-color: #f2fd52;
}
#topnav li {
  float: left;
}
#topnav a {
  display: block;
  padding: 8px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#topnav a {
  color: #34330c;
}
#topnav a:hover {
  background-color: #cfde02;
}

#welcome {
  background-color: #848d01;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#welcome header {
  position: absolute;
  font-size: 88px;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
#welcome img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  margin-top: 60px;
  filter: brightness(50%);
}
#welcome a {
  color: white;
}

#blog {
  padding: 30px;
  background-color: #48435c;
}
#blog h2 {
  color: #cfde02;
}
#blog a {
  color: #f2fd52;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#blog a:hover {
  color: #cfde02;
}

#more {
  padding: 30px;
}
#more h2 {
  color: #48435c;
}
#more a {
  color: #7d84b2;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#more a:hover {
  color: #48435c;
}

#contact {
  padding: 30px;
}
#contact h2 {
  color: #48435c;
}
#contact a {
  color: #7d84b2;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#contact a:hover {
  color: #48435c;
}
